@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.cabecalho span {
    color: #0a6dbe;
}

.cabecalho button {
    padding: .5rem;
    width: 5rem;
    background: #e93b3b;
    border: none;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    background: #ccc;
    border-radius: .5rem;
    height: 90vh;
    padding: .5em .5em 2em .5em;
}

#listaTarefas {
    width: 80rem;
    background: #fff;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#listaTarefas h3 {
    margin-bottom: .8rem;
}


.obrigatorio {
    color: #e93b3b;
}


.esconder {
    display: none;
}

.res {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background: #1171df;
    border-radius: .5rem;
    width: 50rem;
    height: 20rem;

}

.res,
ul {
    padding: .5rem;
}


table {
    border-radius: .5rem;
    background-color: #000;
}

table,
th {
    padding: 1rem;
    color: #0a6dbe;
}


table,
td {
    color: #ccc;
    padding: 0 1em 1em 1em;
}


.res,
button {
    padding-right: .5rem;
    margin-top: .2rem;
}